<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
</head>

<body>
    <h1>Madlibs</h1>
    <form action="/story">
        <label for="place">Place</label>
        <input type="text" name="place" placeholder="place">

        <label for="noun">noun</label>
        <input type="text" name="noun" placeholder="noun">

        <label for="verb">verb</label>
        <input type="text" name="verb" placeholder="verb">

        <label for="adjective">adjective</label>
        <input type="text" name="adjective" placeholder="adjective">

        <label for="plural_noun">plural_noun</label>
        <input type="text" name="plural_noun" placeholder="plural_noun">

        <button>Submit</button>
    </form>
</body>

</html>