<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a User</title>
</head>
<body>
    <h1>Create a User</h1>
    <form action="/users/new" method="post">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" placeholder="Enter a first name">
        <br>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" placeholder="Enter a last name">
        <br>
        <label for="image_url"></label>Image URL
        <input type="text" name="image_url" placeholder="Provide an image of this user">
        <br>
        <button>Add</button>
    </form>
    
</body>
</html>